* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#page-one {
    height: 100vh;
    width: 100%;
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(219,40,188,1) 100%, rgba(167,233,28,1) 100%);
    
    
    
    display: flex;
    align-items: center;
    justify-content: center;

}



.main {
    height: 35em;
    width: 80%;
   
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;


    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(167,233,28,1) 100%, rgba(101,190,204,1) 100%);
    background-size: 200% 200%;
    animation: movingGradient 5s linear infinite alternate;
}

@keyframes movingGradient {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 100%;
    }
}



h1 {


    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5rem;
    color: azure;
    letter-spacing: 3px;

}